In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import datetime
import json
import requests
#graphing
import matplotlib.pyplot as plt

In [2]:
# copied scraper.py data
def get_censusdata(fields):
    """load formatted fields from census api"""
    api_query = "https://api.census.gov/data/2018/acs/acs5?&get=NAME"
    for field in fields:
        api_query = api_query + "," + field
    api_query = api_query + "&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*"
    #call the API and collect the response
    response = requests.get(api_query)
    #load the response into a JSON, ignoring the first element which is just field labels
    formattedResponse = json.loads(response.text)
    return formattedResponse

In [3]:
fields =  ['CBSA', 'B19301_001E', 'B01003_001E']
df = pd.DataFrame(get_censusdata(fields))
df.columns = df.iloc[0]
df
#df.to_csv('CBSA.csv',header=None)

,NAME,CBSA,B19301_001E,B01003_001E,metropolitan statistical area/micropolitan statistical area
0,NAME,CBSA,B19301_001E,B01003_001E,metropolitan statistical area/micropolitan sta...
1,"Iowa City, IA Metro Area",26980,33727,169144,26980
2,"Hobbs, NM Micro Area",26020,24879,70126,26020
3,"Holland, MI Micro Area",26090,28073,115250,26090
4,"Homosassa Springs, FL Metro Area",26140,25983,143087,26140
...,...,...,...,...,...
941,"Hilton Head Island-Bluffton-Beaufort, SC Metro...",25940,34464,210558,25940
942,"Hinesville, GA Metro Area",25980,21490,80264,25980
943,"Guayama, PR Metro Area",25020,9246,77151,25020
944,"Indianola, MS Micro Area",26940,15464,26532,26940
945,"Ionia, MI Micro Area",26960,23956,64176,26960